*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eee;
    padding: 200px;

}
.box{
    width: 500px;
    margin: 0 auto;
}
h1{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
p{
    text-align: center;
    text-decoration: line-through;
}
button{
    width: 80px;
    background-color: cornflowerblue;
    color:#fff;
    border:none;
    height: 25px;
    font-size: 14px;
    margin: 20px auto;
    display: block;
}