

html{
    width: 100%;
    height: 100%;
} 

body {
    background-color: #fef2dc;
    background-image:url('https://media.giphy.com/media/DTPKbLFcJhYvn9ZIAT/giphy.gif');
    background-size:    100% auto ;                  
    background-repeat:   no-repeat;
    background-position: center center;  
    width: 100%;
    height: 100%;
}

h1{
position: relative;
top: 280px; 
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 48px;
    font-weight: normal;
    color: #ffffff;
    font-family: Montserrat;
}

p{
    position: relative;
    top: 450px; 
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 28px;
        font-weight: lighter;
        color: #ffffff;
        font-family: Montserrat;
    }

#btn {
    position: relative;
    top: 300px; 
    background-color:transparent;
    /* background: url("/images/launch/btn.png"); */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    border-radius:40px;
    /* width: 120px; */
    /* height: 60px; */
    outline: none;
    cursor:pointer;
}
img {
    display:block; 
    margin:0 auto;
}
#text{
    position: relative;
    top: 200px;
    width: 1000px;
}