

html{
    width: 100%;
    height: 100%;
} 

body {
    background-color: #fef2dc;   
    width: 100%;
    height: 100%;
}

.container-fluid{
    width: 100%;
    height: 100%;
    background-color: #fef2dc;
    background-image:url('../images/launch/bg.gif');
    background-size:    100% auto;                  
    background-repeat:   no-repeat;
    background-position: center center;  
    text-align:center;
    padding: 10%;
}

#text{
    width: 75%;
}

#btn{
    background-color:transparent;
    outline: none;
    border: none;
    cursor:pointer;
}


/* #btn {
    position: relative;
    top: 300px; 
    background-color:transparent;

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    border-radius:40px;

    outline: none;
    cursor:pointer;
}
img {
    display:block; 
    margin:0 auto;
}
#text{
    position: relative;
    top: 200px;
    width: 1000px;
} */