*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    background-color:#fef2dc;
}



#nextBtn:hover {
    background-image: url(../images/male/nextBtn_click.png);
    background-size: cover;
}


#nextBtn{
    background-image: url('../images/male/nextBtn.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:80px;
    width: 80px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
    background-color: transparent;
    border-style: none;
    outline: none;
    cursor:pointer;
}


iframe{
    position: absolute;
    border:0;
    border-style: none;
    width: 100%;
    height: 100%;
}


.eyes{
    z-index: 1;
}


  
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color:#fef2dc;
    background-image: url("https://media.giphy.com/media/0LU6KkazoNmzu2Gve5/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

/* #camera {
    width: 320px;
    height: 240px;
} */


.popBox-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .6;
    z-index: 999;
    background-color: #000;
}
.popBox-content{
    position: fixed;
    left: 50%; 
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

#popBox-demo .popBox-content{
    width: 600px;
    height: 400px;
    background-color: #fff;
    text-align: center;
}
/* #popBox-demo{
    line-height: 400px;
    margin: 0;
} */
#popBox-demo .btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
}
p{
    /* margin: 0; */
    position: relative;
    left: 50%; 
    top: 40%;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 20px;
}
.options{
    position: absolute;
    width:100%;
    bottom: 20px;
    text-align: center;
}
#goEye{
    width:100px;
    height:52px;
    font-size: 20px;
}

