*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background-color:#fef2dc;
}

.container-fluid{
    width: 100%;
    height: 100%;
    background-color: #fef2dc;
    text-align:center;
    padding: 10%;
}

iframe{
    position: absolute;
    border:0;
    border-style: none;
    width: 100%;
    height: 100%;
}

#text{
    z-index: 1;
    width: 80%;
}

input{
    position: relative;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: block;
    border-radius:40px;
    border-width: 3px;
    border-color: #2e2e2e;
    font-size:20px;
    text-indent: 15px;
    outline: none;
}

#nextBtn{
    background-color:transparent;
    outline: none;
    border: none;
    cursor:pointer;
    padding: 5%;
}

#errorText{
    color: red;
    width:250px;
    position: absolute;
    left: 50%;
    /* top: 20%; */
    transform: translate(-50%,0);
    margin-top:20px;

}
