html{
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    background-image: url('../images/selfie/black-skip.GIF');
    background-size:    auto 100%;                  
    background-repeat:   no-repeat;
    background-position: center center;  
    width: 100%;
    height: 100%;
}

h1{
position: relative;
top: 600px; 
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 48px;
    font-weight: normal;
    color: #ffffff;
    font-family: Montserrat;
}

p{
    position: relative;
    top: 450px; 
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 28px;
        font-weight: lighter;
        color: #ffffff;
        font-family: Courier Prime;
    }

#btn {
    position: relative;
    top: 600px; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    border-radius:40px;
    /* width: 120px;
    height: 40px; */
    background-color: transparent;
    text-decoration: underline; 
}