html {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
}

.container-fluid {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  padding: 20px;
}

#video-camera {
  border: 0;
  border-style: none;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

#word {
  position: absolute;
  font-size: 6vw;
  line-height: 100%;
  font-weight: bold;
  color: #fef2dc;
  font-family: Courier Prime;
}

#not {
  height: auto;
}
